{% extends 'gamebase.html' %}

{% block sidebar %}
{% if games_list %}
Games this week
<ul class="nav" >
	{% for game in games_list %}
	<li><a href="/games/{{game.gsis_id}}/">
		<div>{{game.home_team}} ({{game.home_score}})</div>
		<div>{{game.away_team}} ({{game.away_score}})</div>
	</a></li>
	{% endfor %}
</ul>
{% else %}
<p>No games are available.</p>
{{current}}
{{year}}
{% endif %}
{% endblock %}

{% block main %}
{% for game in games_list %}

	<div class="col-6 col-sm-6 col-lg-4 scorebox" 
		style="padding:5px; padding-top:10px;min-width:292px;link:white ">
		<div class="container" 
			style="background-color:grey; padding-top:10px">

			<div class="away-team" style="">
				<img class="pull-left" 
				src="http://i.nflcdn.com/static/site/6.1/img/logos/teams-matte-80x53/{{game.away_team}}.png" 
				style="width:40px">
				<div class="team-stats" >
					<div class="pull-left">
						{{game.away_team}}
					</div>
					<p class="pull-right total" 
					style="font-size:20px; margin-left:3px; width:28px">
					{{game.away_score}}
					</p>
					<p class="pull-right quarter" 
					style="font-size:13px; text-align:right">
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.away_score_q1}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.away_score_q2}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.away_score_q3}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.away_score_q4}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.away_score_q5}}
					</span>
					</p>
				</div>
			</div>
			<div class="home-team" style="clear:both; background-color:#0a1725">
				<img class="pull-left" 
				src="http://i.nflcdn.com/static/site/6.1/img/logos/teams-matte-80x53/{{game.home_team}}.png" 
				style="width:40px">
				<div class="team-stats" >
					<div class="pull-left">
						{{game.home_team}}
					</div>
					<p class="pull-right total" 
					style="font-size:20px; margin-left:3px; width:28px">
					{{game.home_score}}
					</p>
					<p class="pull-right quarter" 
					style="font-size:13px;text-align:right">
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.home_score_q1}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.home_score_q2}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.home_score_q3}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.home_score_q4}}
					</span>
					<span class="pull-left" 
						style="width:15px; margin:3px; ">
						{{game.home_score_q5}}
					</span>
					</p>
				</div>
			</div>
			<div style="clear:both;">
				<a href="/games/{{game.gsis_id}}/">
					View Details
				</a>
			</div>
		</div>
	</div>
</a>
{% endfor %}
{% endblock %}
