{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Incipire, Inc.">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'games/css/theme.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'games/css/offcanvas.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Fantasy Sportcenter</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class='active'><a href="/games">Games</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
	    {% block content %}{% endblock %}
      <hr>

      <footer>
        <p>&copy; Incipire, Inc.</p>
      </footer>

    </div><!--/.container-->



    <script src="{% static 'games/assets/js/jquery.js' %}"></script>
    <script src="{% static 'games/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'games/js/offcanvas.js' %}"></script>
  </body>
</html>
